@charset "utf-8";

.s_icons ul li i{
	font-size:20px;
	color:#FFFFFF;
}
.head1 i{
	font-size:20px;
}
.topright i{
	font-size:32px;
	padding:0px 2px;
}
.fa-plus-square{
	color:#339966
}
.fa-trash{
	color:#DC7B10
}
.head4 i{
font-size:26px;
}
.head4  .fa-pencil-square{
	color:#2B82C1;
}
.onoff i{
	font-size:22px;
}
.onoff .fa-check-circle{
	color:#339900;
}
.onoff .fa-circle-thin{
	color:#FF0000;
}